.codeContainer {
  margin: 10px 0;

  width: fit-content;
}

.codeArea {
  padding: 5px 5px;
  box-sizing: border-box;
  border: solid 1px #e8e8e8;
  border-radius: 4px;
  background-color: #f6f6f6;
}
